fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]
alembic
pgvector

pydantic
pydantic-settings
python-dotenv

langchain
langchain-community
langchain-text-splitters

ollama

pymupdf
python-docx
pypdf

sentence-transformers

python-multipart

pytest
httpx